In [1]:
%matplotlib inline

from blockchain import statistics
import requests
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
import matplotlib
from sklearn import datasets, linear_model
#import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.datasets import make_friedman1
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

<h3> Glossary </h3> 
<p> DT = DAILY TRANSACTIONS</p>
<P> DUA = DAILY UNIQUE ADRESSES </P>
<P> DTV = DAILY TRANSACTION VOLUME </P>
<P> DDTV = DAILY DOLLAR TRANSACTION VOLUME </P>
<p> BIC = BITCOIN IN CIRCULATION </p>
<p> MP = MARKET PRICE </p>

In [3]:
DT_get = requests.get("https://blockchain.info/charts/n-transactions?timespan=all&format=json")
DUA_get = requests.get("https://blockchain.info/charts/n-unique-addresses?timespan=all&format=json")
DTV_get = requests.get("https://blockchain.info/charts/estimated-transaction-volume?timespan=all&format=json")
DDTV_get = requests.get("https://blockchain.info/charts/estimated-transaction-volume-usd?timespan=all&format=json")
BIC_get = requests.get("https://blockchain.info/charts/total-bitcoins?timespan=all&format=json")
MP_get = requests.get("https://blockchain.info/charts/market-price?timespan=all&format=json")

In [4]:
DT_json = DT_get.json()
DUA_json = DUA_get.json()
DTV_json = DTV_get.json()
DDTV_json = DDTV_get.json()
BIC_json = BIC_get.json()
MP_json = MP_get.json()

In [140]:
DT = pd.DataFrame(list(DT_json.values())[1])
DT.columns = ['Date', 'Transactions']

In [154]:
q = DT_json.values()get("day")
q

In [155]:
DT

            Date  Transactions
0     1230940800             1
1     1231113600             0
2     1231286400             0
3     1231459200            14
4     1231632000           106
5     1231804800           116
6     1231977600           136
7     1232150400           109
8     1232323200           120
9     1232496000           115
10    1232668800            68
11    1232841600           195
12    1233014400           105
13    1233187200           122
14    1233360000           129
15    1233532800           127
16    1233705600           126
17    1233878400           129
18    1234051200           135
19    1234224000           127
20    1234396800           119
21    1234569600           141
22    1234742400           123
23    1234915200           124
24    1235088000           129
25    1235260800           125
26    1235433600           111
27    1235606400            96
28    1235779200           103
29    1235952000           104
...          ...           ...
1516  1492905600        245039
1517  1493078400        325387
1518  1493251200        297884
1519  1493424000        341319
1520  1493596800        294786
1521  1493769600        295149
1522  1493942400        267193
1523  1494115200        316011
1524  1494288000        332879
1525  1494460800        294743
1526  1494633600        329266
1527  1494806400        329229
1528  1494979200        317527
1529  1495152000        319502
1530  1495324800        326057
1531  1495497600        367710
1532  1495670400        350114
1533  1495843200        331914
1534  1496016000        321638
1535  1496188800        321634
1536  1496361600        271539
1537  1496534400        266044
1538  1496707200        297416
1539  1496880000        307377
1540  1497052800        254993
1541  1497225600        269098
1542  1497398400        287644
1543  1497571200        269937
1544  1497744000        209359
1545  1497916800        269438

[1546 rows x 2 columns]

In [5]:
DT = pd.DataFrame(list(DT_json.values())[1])
DT.columns = ['Date', 'Transactions']

DUA = pd.DataFrame(list(DUA_json.values())[1])
DUA.columns = ['Date', 'UniqueAdresses']
DUA2 = DUA.drop('Date', axis=1)

DTV = pd.DataFrame(list(DTV_json.values())[1])
DTV.columns = ['Date', 'TransactionVolume']
DTV2 = DTV.drop('Date', axis=1)

DDTV = pd.DataFrame(list(DDTV_json.values())[1])
DDTV.columns = ['Date', 'DailyDollarTransactionVolume']
DDTV2 = DDTV.drop('Date', axis=1)

BIC = pd.DataFrame(list(BIC_json.values())[1])
BIC.columns = ['Date', 'BitCoinInCirculation']
BIC2 = BIC.drop('Date', axis=1)

MP = pd.DataFrame(list(MP_json.values())[1])
MP.columns = ['Date', 'MarketPrice']
MP2 = MP.drop('Date', axis=1)
MP['Date'] = pd.to_datetime(MP['Date'],unit='s')

In [6]:
DataSet = pd.concat([DT, DUA2], axis=1)
DataSet = pd.concat([DataSet, DTV2], axis=1)
DataSet = pd.concat([DataSet, DDTV2], axis=1)
DataSet = pd.concat([DataSet, BIC2], axis=1)
DataSet = pd.concat([DataSet, MP2], axis=1)
DataSet['Date'] = pd.to_datetime(DataSet['Date'],unit='s')
DataSet

,Date,Transactions,UniqueAdresses,TransactionVolume,DailyDollarTransactionVolume,BitCoinInCirculation,MarketPrice
0,2009-01-03,1,1,0.000,0.000,50.000,0.000
1,2009-01-05,0,0,0.000,0.000,50.000,0.000
2,2009-01-07,0,0,0.000,0.000,50.000,0.000
3,2009-01-09,14,14,0.000,0.000,750.000,0.000
4,2009-01-11,106,106,0.000,0.000,7600.000,0.000
5,2009-01-13,116,117,10.000,0.000,17800.000,0.000
6,2009-01-15,136,136,414.000,0.000,30450.000,0.000
7,2009-01-17,109,109,100.000,0.000,41650.000,0.000
8,2009-01-19,120,120,150.000,0.000,52650.000,0.000
9,2009-01-21,115,115,500.000,0.000,64100.000,0.000
10,2009-01-23,68,68,150.000,0.000,71200.000,0.000
11,2009-01-25,195,195,50.000,0.000,90850.000,0.000
12,2009-01-27,105,105,1150.000,0.000,101800.000,0.000
13,2009-01-29,122,122,0.000,0.000,113050.000,0.000
14,2009-01-31,129,129,0.000,0.000,125550.000,0.000
15,2009-02-02,127,127,0.000,0.000,137700.000,0.000
16,2009-02-04,126,129,38.000,0.000,150650.000,0.000
17,2009-02-06,129,129,0.000,0.000,163150.000,0.000
18,2009-02-08,135,135,1000.000,0.000,176150.000,0.000
19,2009-02-10,127,127,0.000,0.000,188900.000,0.000
20,2009-02-12,119,119,200.000,0.000,201350.000,0.000
21,2009-02-14,141,141,0.000,0.000,214600.000,0.000
22,2009-02-16,123,123,0.000,0.000,226850.000,0.000
23,2009-02-18,124,124,0.000,0.000,238950.000,0.000
24,2009-02-20,129,129,800.000,0.000,251200.000,0.000
25,2009-02-22,125,125,1050.000,0.000,262750.000,0.000
26,2009-02-24,111,111,0.000,0.000,273650.000,0.000
27,2009-02-26,96,96,0.000,0.000,283800.000,0.000
28,2009-02-28,103,103,1800.000,0.000,295050.000,0.000
29,2009-03-02,104,104,0.000,0.000,305550.000,0.000
...,...,...,...,...,...,...,...
1516,2017-04-23,245039,490003,159473.770,216214543.240,16290462.500,1257.980
1517,2017-04-25,325387,580200,306659.170,392344255.710,16293862.500,1279.410
1518,2017-04-27,297884,554691,299790.680,403324576.010,16297612.500,1345.350
1519,2017-04-29,341319,634025,268392.270,358298055.710,16301475.000,1334.970
1520,2017-05-01,294786,542847,312196.230,442436010.500,16305237.500,1417.170
1521,2017-05-03,295149,547221,317492.170,478643852.400,16308862.500,1507.570
1522,2017-05-05,267193,523629,373364.400,572492738.290,16312575.000,1533.330
1523,2017-05-07,316011,581369,276993.750,425425969.140,16316762.500,1535.860
1524,2017-05-09,332879,621156,442341.020,761394965.370,16320950.000,1721.280
1525,2017-05-11,294743,568521,364410.760,663588561.070,16324487.500,1820.990
1526,2017-05-13,329266,623293,250751.310,444311275.690,16328387.500,1771.920
1527,2017-05-15,329229,636246,401257.570,691417744.070,16332562.500,1723.120
1528,2017-05-17,317527,591515,518560.400,937290192.570,16336150.000,1807.480
1529,2017-05-19,319502,633617,437720.100,858596952.490,16339975.000,1961.520
1530,2017-05-21,326057,608719,266554.690,545513367.880,16343875.000,2046.530
1531,2017-05-23,367710,687290,448744.850,1026598216.660,16347800.000,2287.710
1532,2017-05-25,350114,659055,506576.470,1209302552.270,16351762.500,2387.200
1533,2017-05-27,331914,651462,320932.550,646375171.120,16355775.000,2014.050
1534,2017-05-29,321638,594355,252272.090,574153810.840,16359725.000,2275.930
1535,2017-05-31,321634,614126,373509.980,853819146.380,16364012.500,2285.930
1536,2017-06-02,271539,534561,296956.940,726398967.480,16367962.500,2446.140
1537,2017-06-04,266044,537387,249413.350,627567197.390,16372375.000,2516.170
1538,2017-06-06,297416,617593,307402.770,886338620.290,16376312.500,2883.310
1539,2017-06-08,307377,609712,290137.130,810352769.000,16380437.500,2792.990
1540,2017-06-10,254993,516474,235847.890,671075205.240,16384087.500,2845.370
1541,2017-06-12,269098,538624,316030.550,839906528.510,16387750.000,2657.670
1542,2017-06-14,287644,565868,307843.120,753304915.370,16391262.500,2447.040
1543,2017-06-16,269937,536165,253325.070,624436119.960,16395025.000,2464.950
1544,2017-06-18,209359,433246,208500.290,522791407.920,16398650.000,2507.380
1545,2017-06-20,269438,594425,258544.740,712285162.400,16402262.500,2754.970

In [7]:
DataSet = DataSet.drop('DailyDollarTransactionVolume', axis = 1)

In [8]:
DataSet.describe()

,Transactions,UniqueAdresses,TransactionVolume,BitCoinInCirculation,MarketPrice
count,1546.000,1546.000,1546.000,1546.000,1546.000
mean,75565.382,137424.393,173187.967,9695627.579,263.395
std,90722.379,168296.823,245321.945,5127033.777,392.925
min,0.000,0.000,0.000,50.000,0.000
25%,1869.250,2472.500,49823.500,5409487.500,0.790
50%,46869.500,47559.500,143228.500,10961262.500,73.835
75%,106323.000,224307.500,241245.000,14143631.250,427.947
max,367710.000,687290.000,5313161.000,16402262.500,2883.310

In [9]:
DataSet.corr()

,Transactions,UniqueAdresses,TransactionVolume,BitCoinInCirculation,MarketPrice
Transactions,1.000,0.987,0.294,0.798,0.790
UniqueAdresses,0.987,1.000,0.280,0.801,0.818
TransactionVolume,0.294,0.280,1.000,0.352,0.179
BitCoinInCirculation,0.798,0.801,0.352,1.000,0.650
MarketPrice,0.790,0.818,0.179,0.650,1.000

<h1> mmm, outliers could be removed</h1>
<h3> Transactions vs MarketPrice </h3>

In [ ]:
plt.plot(DataSet.Transactions, DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('Transactions Per DAY')
plt.show()

<h3> UniqueAdresses vs MarketPrice</h3>

In [ ]:
plt.plot(DataSet.UniqueAdresses,DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('UniqueAdresses')
plt.show()

<h3> TransactionVolume vs MarketPrice</h3>

In [ ]:
plt.plot(DataSet.TransactionVolume, DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('TransactionVolume')
plt.show()

<h3> BitCoinInCirculation vs MarketPrice</h3>

In [ ]:
plt.plot(DataSet.BitCoinInCirculation, DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('BitCoinInCirculation')
plt.show()

In [12]:
pre_train = DataSet
train_x = DataSet[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = DataSet['MarketPrice']

In [10]:
train_x = DataSet[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = DataSet['MarketPrice']

lm1 = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
lm1.fit(train_x,train_y)
yhat = pd.DataFrame(lm1.predict(train_x))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

/usr/local/lib/python3.5/site-packages/scipy/linalg/basic.py:884: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

0.68230257076947054

In [ ]:
plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
plt.show()

<h3>7 day forecast</h3>

In [ ]:
train_y_7 = train_y.shift(periods=-7, freq=None, axis=0)
pre_train = pd.concat([train_x,train_y_7], axis = 1).dropna()
train_x = pre_train[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = pre_train['MarketPrice']

lm1 = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
lm1.fit(train_x,train_y)
yhat = pd.DataFrame(lm1.predict(train_x))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
lm1.score(train_x, train_y, sample_weight=None),plt.show()

<h3> 30 day forecast </h3>

In [ ]:
train_y_30 = train_y.shift(periods=-30, freq=None, axis=0)
pre_train = pd.concat([train_x,train_y_30], axis = 1).dropna()
train_x = pre_train[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = pre_train['MarketPrice']

lm1 = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
lm1.fit(train_x,train_y)
yhat = pd.DataFrame(lm1.predict(train_x))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
lm1.score(train_x, train_y, sample_weight=None),plt.show()

In [ ]:
list_y = []
for i in range(0,len(train_y)-30):
    print(train_y[i],train_y[i+30])

<h3> Same but testing other algorithms</h3>

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( train_x, train_y, test_size=0.20, random_state=42)

In [ ]:
"""
Boosting Tree Regressor - Note Looking at the analysis this doesn't really look healthy to me. 
Besides the fact that it can now predict higher than 1300 dollar

"""


BTR = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=6, random_state=0, loss='ls').fit(X_train, y_train)
mean_squared_error(y_test, BTR.predict(X_test)) 
BTR.score(X_train, y_train, sample_weight=None),BTR.score(X_test, y_test, sample_weight=None)

In [ ]:
yhat = pd.DataFrame(BTR.predict(X_train))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
lm1.score(X_test, y_test, sample_weight=None)

<h1> start here </h1>

In [314]:
pre_train = DataSet
train_x = DataSet[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = DataSet['MarketPrice']
train_y_30 = train_y.shift(periods=-10, freq=None, axis=0)
pre_train = pd.concat([train_x,train_y,train_y_30], axis = 1).dropna()
pre_train.columns = ['Transactions','UniqueAdresses','TransactionVolume','BitCoinInCirculation','y_now','y_30']

In [316]:
pre_train['y'] = 0
len(pre_train)

1536

In [317]:
for i in range(0,len(pre_train)):
    if pre_train['y_30'][i] > pre_train['y_now'][i]:
        print(i)
        #print(pre_train['y_30'][i],pre_train['y_now'][i])
        pre_train['y'][i] = 1

286
287
288

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

289
290
291
292
293
294
295
300
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
338
349
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
390
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
509
510
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
569
570
571
572
573
574
575
576
587
588
589
590
591
592
593
594
595
596
597
598
599
600
606
607
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
656
663
664
665
667
668
669
670
671
672
673
674
675
676
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
718
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
780
781
782
783
790
791
792
793
794
795
796
797
821
822
823
824
825
826
827
828
829
830
831
832
833
836
837
838
839
840
841
842
843
844
845
846
847
848
849
854
855
856
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
904
905
906
907
908
909
910
911
912
913
918
933
937
938
939
940
941
956
957
958
959
961
962
963
970
972
973
974
975
976
977
978
979
980
981
982
983
985
986
993
994
995
996
997
998
999
1000
1001
1002
1047
1048
1049
1050
1051
1052
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1071
1101
1102
1103
1104
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1146
1147
1148
1149
1150
1151
1152
1153
1155
1156
1157
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1210
1211
1212
1213
1215
1217
1218
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1271
1272
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1300
1309
1310
1311
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1336
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1364
1366
1367
1371
1372
1384
1385
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535

In [318]:
pre_train.describe()

,Transactions,UniqueAdresses,TransactionVolume,BitCoinInCirculation,y_now,y_30,y
count,1536.000,1536.000,1536.000,1536.000,1536.000,1536.000,1536.000
mean,74297.680,134748.735,172542.054,9652072.990,247.977,265.110,0.475
std,89618.064,165481.124,245972.955,5115100.622,344.153,393.625,0.500
min,0.000,0.000,0.000,50.000,0.000,0.000,0.000
25%,1809.500,2385.500,49187.000,5360750.000,0.788,0.875,0.000
50%,46422.000,45623.000,142044.000,10915050.000,52.740,88.025,0.000
75%,104557.000,222109.250,240210.250,14089993.750,423.808,428.135,1.000
max,367710.000,687290.000,5313161.000,16364012.500,2387.200,2883.310,1.000

In [319]:
pre_train_x = pre_train[['Transactions','UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
pre_train_y = pre_train['y']

In [320]:
pre_train_x.shape,pre_train_y.shape

((1536, 4), (1536,))

In [321]:
#cant do random sampling here as it is time series
X_train = pre_train_x.loc[0:1443]
X_test = pre_train_x.loc[1444:1543]
y_train = pre_train_y.loc[0:1443]
y_test = pre_train_y.loc[1444:1543]

In [322]:
#X_train, X_test, y_train, y_test = train_test_split( pre_train_x, pre_train_y, test_size=0.20, random_state=42)

In [323]:
I = [5,10,15,20,30,40,50,60,70,80,90,100]
for i in I:
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, y_train)
    print(i,clf.score(X_train, y_train),clf.score(X_test, y_test))

5 0.979224376731 0.804347826087
10 0.994459833795 0.804347826087
15 0.997922437673 0.804347826087
20 0.997922437673 0.804347826087
30 0.999307479224 0.804347826087
40 1.0 0.804347826087
50 1.0 0.804347826087
60 1.0 0.804347826087
70 1.0 0.804347826087
80 1.0 0.804347826087
90 1.0 0.804347826087
100 1.0 0.804347826087

In [324]:

clf = RandomForestClassifier(n_estimators=50)
clf.fit(X_train, y_train)
print(i,clf.score(X_train, y_train),clf.score(X_test, y_test))

100 0.999307479224 0.804347826087

In [325]:
for_scoring = DataSet[['Transactions','UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
Price = DataSet[['MarketPrice']]
Date = DataSet[['Date']]
x = pd.DataFrame(clf.predict_proba(for_scoring)	)
x.columns = ['sell','buy']
simul = pd.concat([Date,Price,x],axis = 1)

In [326]:
simul
simul = simul[simul['Date'] >= '2017-01-01']

In [327]:
simul

           Date  MarketPrice  sell   buy
1460 2017-01-01      997.720 0.000 1.000
1461 2017-01-03     1023.140 0.000 1.000
1462 2017-01-05      994.670 0.020 0.980
1463 2017-01-07      896.830 0.000 1.000
1464 2017-01-09      894.180 0.000 1.000
1465 2017-01-11      785.220 0.000 1.000
1466 2017-01-13      826.290 0.000 1.000
1467 2017-01-15      822.200 0.020 0.980
1468 2017-01-17      903.840 0.000 1.000
1469 2017-01-19      895.790 0.040 0.960
1470 2017-01-21      920.440 0.040 0.960
1471 2017-01-23      922.070 0.040 0.960
1472 2017-01-25      893.040 0.000 1.000
1473 2017-01-27      919.270 0.020 0.980
1474 2017-01-29      915.930 0.060 0.940
1475 2017-01-31      964.700 0.040 0.960
1476 2017-02-02     1007.610 0.040 0.960
1477 2017-02-04     1030.990 0.020 0.980
1478 2017-02-06     1024.010 0.020 0.980
1479 2017-02-08     1052.370 0.000 1.000
1480 2017-02-10      999.100 0.000 1.000
1481 2017-02-12     1000.600 0.420 0.580
1482 2017-02-14     1011.780 0.040 0.960
1483 2017-02-16     1035.200 0.020 0.980
1484 2017-02-18     1056.630 0.020 0.980
1485 2017-02-20     1084.750 0.020 0.980
1486 2017-02-22     1123.220 0.020 0.980
1487 2017-02-24     1174.860 0.000 1.000
1488 2017-02-26     1175.040 0.020 0.980
1489 2017-02-28     1187.560 0.020 0.980
...         ...          ...   ...   ...
1516 2017-04-23     1257.980 0.020 0.980
1517 2017-04-25     1279.410 0.000 1.000
1518 2017-04-27     1345.350 0.000 1.000
1519 2017-04-29     1334.970 0.000 1.000
1520 2017-05-01     1417.170 0.000 1.000
1521 2017-05-03     1507.570 0.000 1.000
1522 2017-05-05     1533.330 0.000 1.000
1523 2017-05-07     1535.860 0.000 1.000
1524 2017-05-09     1721.280 0.020 0.980
1525 2017-05-11     1820.990 0.000 1.000
1526 2017-05-13     1771.920 0.000 1.000
1527 2017-05-15     1723.120 0.000 1.000
1528 2017-05-17     1807.480 0.020 0.980
1529 2017-05-19     1961.520 0.000 1.000
1530 2017-05-21     2046.530 0.000 1.000
1531 2017-05-23     2287.710 0.020 0.980
1532 2017-05-25     2387.200 0.000 1.000
1533 2017-05-27     2014.050 0.000 1.000
1534 2017-05-29     2275.930 0.000 1.000
1535 2017-05-31     2285.930 0.000 1.000
1536 2017-06-02     2446.140 0.000 1.000
1537 2017-06-04     2516.170 0.000 1.000
1538 2017-06-06     2883.310 0.000 1.000
1539 2017-06-08     2792.990 0.000 1.000
1540 2017-06-10     2845.370 0.040 0.960
1541 2017-06-12     2657.670 0.000 1.000
1542 2017-06-14     2447.040 0.000 1.000
1543 2017-06-16     2464.950 0.000 1.000
1544 2017-06-18     2507.380 0.080 0.920
1545 2017-06-20     2754.970 0.000 1.000

[86 rows x 4 columns]

In [328]:
hold_init = 1000
hold_coins = 1000/simul.MarketPrice[1505]
final = hold_coins*simul.MarketPrice[1545]
final_strat = 14.31*simul.MarketPrice[1545]

In [329]:
starter = 1504
iterator = 10
btc_wallet = 0.0
rand_wallet = 1000.0

for index,row in simul.iterrows():
    print(index,starter,row['Date'],round(btc_wallet,2),round(rand_wallet,2), row['MarketPrice'],row['buy'])
    if index == starter:
        if row['buy'] > 0.5 and rand_wallet != 0:
            btc_wallet = rand_wallet/row['MarketPrice'] - (rand_wallet/row['MarketPrice'])*0.01
            rand_wallet = 0
        if row['buy'] < 0.5 and rand_wallet == 0:
            rand_wallet = btc_wallet*row['MarketPrice'] - (btc_wallet*row['MarketPrice'])*0.01
            btc_wallet = 0
            
        starter = starter + iterator

1460 1504 2017-01-01 00:00:00 0.0 1000.0 997.72 1.0
1461 1504 2017-01-03 00:00:00 0.0 1000.0 1023.14 1.0
1462 1504 2017-01-05 00:00:00 0.0 1000.0 994.67 0.98
1463 1504 2017-01-07 00:00:00 0.0 1000.0 896.83 1.0
1464 1504 2017-01-09 00:00:00 0.0 1000.0 894.18 1.0
1465 1504 2017-01-11 00:00:00 0.0 1000.0 785.22 1.0
1466 1504 2017-01-13 00:00:00 0.0 1000.0 826.29 1.0
1467 1504 2017-01-15 00:00:00 0.0 1000.0 822.2 0.98
1468 1504 2017-01-17 00:00:00 0.0 1000.0 903.84 1.0
1469 1504 2017-01-19 00:00:00 0.0 1000.0 895.79 0.96
1470 1504 2017-01-21 00:00:00 0.0 1000.0 920.44 0.96
1471 1504 2017-01-23 00:00:00 0.0 1000.0 922.07 0.96
1472 1504 2017-01-25 00:00:00 0.0 1000.0 893.04 1.0
1473 1504 2017-01-27 00:00:00 0.0 1000.0 919.27 0.98
1474 1504 2017-01-29 00:00:00 0.0 1000.0 915.93 0.94
1475 1504 2017-01-31 00:00:00 0.0 1000.0 964.7 0.96
1476 1504 2017-02-02 00:00:00 0.0 1000.0 1007.61 0.96
1477 1504 2017-02-04 00:00:00 0.0 1000.0 1030.99 0.98
1478 1504 2017-02-06 00:00:00 0.0 1000.0 1024.01 0.98
1479 1504 2017-02-08 00:00:00 0.0 1000.0 1052.37 1.0
1480 1504 2017-02-10 00:00:00 0.0 1000.0 999.1 1.0
1481 1504 2017-02-12 00:00:00 0.0 1000.0 1000.6 0.58
1482 1504 2017-02-14 00:00:00 0.0 1000.0 1011.78 0.96
1483 1504 2017-02-16 00:00:00 0.0 1000.0 1035.2 0.98
1484 1504 2017-02-18 00:00:00 0.0 1000.0 1056.63 0.98
1485 1504 2017-02-20 00:00:00 0.0 1000.0 1084.75 0.98
1486 1504 2017-02-22 00:00:00 0.0 1000.0 1123.22 0.98
1487 1504 2017-02-24 00:00:00 0.0 1000.0 1174.86 1.0
1488 1504 2017-02-26 00:00:00 0.0 1000.0 1175.04 0.98
1489 1504 2017-02-28 00:00:00 0.0 1000.0 1187.56 0.98
1490 1504 2017-03-02 00:00:00 0.0 1000.0 1259.41 1.0
1491 1504 2017-03-04 00:00:00 0.0 1000.0 1267.02 0.98
1492 1504 2017-03-06 00:00:00 0.0 1000.0 1275.19 0.98
1493 1504 2017-03-08 00:00:00 0.0 1000.0 1157.39 0.96
1494 1504 2017-03-10 00:00:00 0.0 1000.0 1098.61 1.0
1495 1504 2017-03-12 00:00:00 0.0 1000.0 1227.49 0.92
1496 1504 2017-03-14 00:00:00 0.0 1000.0 1245.37 1.0
1497 1504 2017-03-16 00:00:00 0.0 1000.0 1180.94 1.0
1498 1504 2017-03-18 00:00:00 0.0 1000.0 952.23 1.0
1499 1504 2017-03-20 00:00:00 0.0 1000.0 1049.08 1.0
1500 1504 2017-03-22 00:00:00 0.0 1000.0 1028.72 1.0
1501 1504 2017-03-24 00:00:00 0.0 1000.0 941.91 1.0
1502 1504 2017-03-26 00:00:00 0.0 1000.0 956.78 0.88
1503 1504 2017-03-28 00:00:00 0.0 1000.0 1046.12 1.0
1504 1504 2017-03-30 00:00:00 0.0 1000.0 1037.9 1.0
1505 1514 2017-04-01 00:00:00 0.95 0 1086.92 1.0
1506 1514 2017-04-03 00:00:00 0.95 0 1141.81 1.0
1507 1514 2017-04-05 00:00:00 0.95 0 1133.07 1.0
1508 1514 2017-04-07 00:00:00 0.95 0 1190.45 1.0
1509 1514 2017-04-09 00:00:00 0.95 0 1208.8 0.98
1510 1514 2017-04-11 00:00:00 0.95 0 1226.61 1.0
1511 1514 2017-04-13 00:00:00 0.95 0 1180.02 1.0
1512 1514 2017-04-15 00:00:00 0.95 0 1184.88 0.96
1513 1514 2017-04-17 00:00:00 0.95 0 1205.63 0.98
1514 1514 2017-04-19 00:00:00 0.95 0 1217.93 1.0
1515 1524 2017-04-21 00:00:00 0.95 0 1258.36 1.0
1516 1524 2017-04-23 00:00:00 0.95 0 1257.98 0.98
1517 1524 2017-04-25 00:00:00 0.95 0 1279.41 1.0
1518 1524 2017-04-27 00:00:00 0.95 0 1345.35 1.0
1519 1524 2017-04-29 00:00:00 0.95 0 1334.97 1.0
1520 1524 2017-05-01 00:00:00 0.95 0 1417.17 1.0
1521 1524 2017-05-03 00:00:00 0.95 0 1507.57 1.0
1522 1524 2017-05-05 00:00:00 0.95 0 1533.33 1.0
1523 1524 2017-05-07 00:00:00 0.95 0 1535.86 1.0
1524 1524 2017-05-09 00:00:00 0.95 0 1721.28 0.98
1525 1534 2017-05-11 00:00:00 0.95 0 1820.99 1.0
1526 1534 2017-05-13 00:00:00 0.95 0 1771.92 1.0
1527 1534 2017-05-15 00:00:00 0.95 0 1723.12 1.0
1528 1534 2017-05-17 00:00:00 0.95 0 1807.48 0.98
1529 1534 2017-05-19 00:00:00 0.95 0 1961.52 1.0
1530 1534 2017-05-21 00:00:00 0.95 0 2046.53 1.0
1531 1534 2017-05-23 00:00:00 0.95 0 2287.71 0.98
1532 1534 2017-05-25 00:00:00 0.95 0 2387.2 1.0
1533 1534 2017-05-27 00:00:00 0.95 0 2014.05 1.0
1534 1534 2017-05-29 00:00:00 0.95 0 2275.93 1.0
1535 1544 2017-05-31 00:00:00 0.95 0 2285.93 1.0
1536 1544 2017-06-02 00:00:00 0.95 0 2446.14 1.0
1537 1544 2017-06-04 00:00:00 0.95 0 2516.17 1.0
1538 1544 2017-06-06 00:00:00 0.95 0 2883.31 1.0
1539 1544 2017-06-08 00:00:00 0.95 0 2792.99 1.0
1540 1544 2017-06-10 00:00:00 0.95 0 2845.37 0.96
1541 1544 2017-06-12 00:00:00 0.95 0 2657.67 1.0
1542 1544 2017-06-14 00:00:00 0.95 0 2447.04 1.0
1543 1544 2017-06-16 00:00:00 0.95 0 2464.95 1.0
1544 1544 2017-06-18 00:00:00 0.95 0 2507.38 0.92
1545 1554 2017-06-20 00:00:00 0.95 0 2754.97 1.0

In [330]:
hold_init = 1000
hold_coins = 1000/simul.MarketPrice[1504] - (1000/simul.MarketPrice[1504])*0.01
final = hold_coins*simul.MarketPrice[1545]

In [331]:
print("new:   :","rand:  ",rand_wallet,"btc(in rand:)  " ,btc_wallet*simul.MarketPrice[1545],"hold:   ", final)

new:   : rand:   0 btc(in rand:)   2627.82570575 hold:    2627.82570575