In [1]:
%matplotlib inline

from blockchain import statistics
import requests
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
import matplotlib
from sklearn import datasets, linear_model
#import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.datasets import make_friedman1
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

<h3> Glossary </h3> 
<p> DT = DAILY TRANSACTIONS</p>
<P> DUA = DAILY UNIQUE ADRESSES </P>
<P> DTV = DAILY TRANSACTION VOLUME </P>
<P> DDTV = DAILY DOLLAR TRANSACTION VOLUME </P>
<p> BIC = BITCOIN IN CIRCULATION </p>
<p> MP = MARKET PRICE </p>

In [3]:
DT_get = requests.get("https://blockchain.info/charts/n-transactions?timespan=all&format=json")
DUA_get = requests.get("https://blockchain.info/charts/n-unique-addresses?timespan=all&format=json")
DTV_get = requests.get("https://blockchain.info/charts/estimated-transaction-volume?timespan=all&format=json")
DDTV_get = requests.get("https://blockchain.info/charts/estimated-transaction-volume-usd?timespan=all&format=json")
BIC_get = requests.get("https://blockchain.info/charts/total-bitcoins?timespan=all&format=json")
MP_get = requests.get("https://blockchain.info/charts/market-price?timespan=all&format=json")

In [4]:
DT_json = DT_get.json()
DUA_json = DUA_get.json()
DTV_json = DTV_get.json()
DDTV_json = DDTV_get.json()
BIC_json = BIC_get.json()
MP_json = MP_get.json()

In [5]:
DT = pd.DataFrame(list(DT_json.values())[1])
DT.columns = ['Date', 'Transactions']

DUA = pd.DataFrame(list(DUA_json.values())[1])
DUA.columns = ['Date', 'UniqueAdresses']
DUA2 = DUA.drop('Date', axis=1)

DTV = pd.DataFrame(list(DTV_json.values())[1])
DTV.columns = ['Date', 'TransactionVolume']
DTV2 = DTV.drop('Date', axis=1)

DDTV = pd.DataFrame(list(DDTV_json.values())[1])
DDTV.columns = ['Date', 'DailyDollarTransactionVolume']
DDTV2 = DDTV.drop('Date', axis=1)

BIC = pd.DataFrame(list(BIC_json.values())[1])
BIC.columns = ['Date', 'BitCoinInCirculation']
BIC2 = BIC.drop('Date', axis=1)

MP = pd.DataFrame(list(MP_json.values())[1])
MP.columns = ['Date', 'MarketPrice']
MP2 = MP.drop('Date', axis=1)
MP['Date'] = pd.to_datetime(MP['Date'],unit='s')

In [6]:
DataSet = pd.concat([DT, DUA2], axis=1)
DataSet = pd.concat([DataSet, DTV2], axis=1)
DataSet = pd.concat([DataSet, DDTV2], axis=1)
DataSet = pd.concat([DataSet, BIC2], axis=1)
DataSet = pd.concat([DataSet, MP2], axis=1)
DataSet['Date'] = pd.to_datetime(DataSet['Date'],unit='s')
DataSet

,Date,Transactions,UniqueAdresses,TransactionVolume,DailyDollarTransactionVolume,BitCoinInCirculation,MarketPrice
0,2009-01-03,1,1,0.000,0.000,50.000,0.000
1,2009-01-05,0,0,0.000,0.000,50.000,0.000
2,2009-01-07,0,0,0.000,0.000,50.000,0.000
3,2009-01-09,14,14,0.000,0.000,750.000,0.000
4,2009-01-11,106,106,0.000,0.000,7600.000,0.000
5,2009-01-13,116,117,10.000,0.000,17800.000,0.000
6,2009-01-15,136,136,414.000,0.000,30450.000,0.000
7,2009-01-17,109,109,100.000,0.000,41650.000,0.000
8,2009-01-19,120,120,150.000,0.000,52650.000,0.000
9,2009-01-21,115,115,500.000,0.000,64100.000,0.000
10,2009-01-23,68,68,150.000,0.000,71200.000,0.000
11,2009-01-25,195,195,50.000,0.000,90850.000,0.000
12,2009-01-27,105,105,1150.000,0.000,101800.000,0.000
13,2009-01-29,122,122,0.000,0.000,113050.000,0.000
14,2009-01-31,129,129,0.000,0.000,125550.000,0.000
15,2009-02-02,127,127,0.000,0.000,137700.000,0.000
16,2009-02-04,126,129,38.000,0.000,150650.000,0.000
17,2009-02-06,129,129,0.000,0.000,163150.000,0.000
18,2009-02-08,135,135,1000.000,0.000,176150.000,0.000
19,2009-02-10,127,127,0.000,0.000,188900.000,0.000
20,2009-02-12,119,119,200.000,0.000,201350.000,0.000
21,2009-02-14,141,141,0.000,0.000,214600.000,0.000
22,2009-02-16,123,123,0.000,0.000,226850.000,0.000
23,2009-02-18,124,124,0.000,0.000,238950.000,0.000
24,2009-02-20,129,129,800.000,0.000,251200.000,0.000
25,2009-02-22,125,125,1050.000,0.000,262750.000,0.000
26,2009-02-24,111,111,0.000,0.000,273650.000,0.000
27,2009-02-26,96,96,0.000,0.000,283800.000,0.000
28,2009-02-28,103,103,1800.000,0.000,295050.000,0.000
29,2009-03-02,104,104,0.000,0.000,305550.000,0.000
...,...,...,...,...,...,...,...
1516,2017-04-23,245039,490003,159473.770,216214543.240,16290462.500,1257.980
1517,2017-04-25,325387,580200,306659.170,392344255.710,16293862.500,1279.410
1518,2017-04-27,297884,554691,299790.680,403324576.010,16297612.500,1345.350
1519,2017-04-29,341319,634025,268392.270,358298055.710,16301475.000,1334.970
1520,2017-05-01,294786,542847,312196.230,442436010.500,16305237.500,1417.170
1521,2017-05-03,295149,547221,317492.170,478643852.400,16308862.500,1507.570
1522,2017-05-05,267193,523629,373364.400,572492738.290,16312575.000,1533.330
1523,2017-05-07,316011,581369,276993.750,425425969.140,16316762.500,1535.860
1524,2017-05-09,332879,621156,442341.020,761394965.370,16320950.000,1721.280
1525,2017-05-11,294743,568521,364410.760,663588561.070,16324487.500,1820.990
1526,2017-05-13,329266,623293,250751.310,444311275.690,16328387.500,1771.920
1527,2017-05-15,329229,636246,401257.570,691417744.070,16332562.500,1723.120
1528,2017-05-17,317527,591515,518560.400,937290192.570,16336150.000,1807.480
1529,2017-05-19,319502,633617,437720.100,858596952.490,16339975.000,1961.520
1530,2017-05-21,326057,608719,266554.690,545513367.880,16343875.000,2046.530
1531,2017-05-23,367710,687290,448744.850,1026598216.660,16347800.000,2287.710
1532,2017-05-25,350114,659055,506576.470,1209302552.270,16351762.500,2387.200
1533,2017-05-27,331914,651462,320932.550,646375171.120,16355775.000,2014.050
1534,2017-05-29,321638,594355,252272.090,574153810.840,16359725.000,2275.930
1535,2017-05-31,321634,614126,373509.980,853819146.380,16364012.500,2285.930
1536,2017-06-02,271539,534561,296956.940,726398967.480,16367962.500,2446.140
1537,2017-06-04,266044,537387,249413.350,627567197.390,16372375.000,2516.170
1538,2017-06-06,297416,617593,307402.770,886338620.290,16376312.500,2883.310
1539,2017-06-08,307377,609712,290137.130,810352769.000,16380437.500,2792.990
1540,2017-06-10,254993,516474,235847.890,671075205.240,16384087.500,2845.370
1541,2017-06-12,269098,538624,316030.550,839906528.510,16387750.000,2657.670
1542,2017-06-14,287644,565868,307843.120,753304915.370,16391262.500,2447.040
1543,2017-06-16,269937,536165,253325.070,624436119.960,16395025.000,2464.950
1544,2017-06-18,209359,433246,208500.290,522791407.920,16398650.000,2507.380
1545,2017-06-20,269438,594425,258544.740,712285162.400,16402262.500,2754.970

In [7]:
DataSet = DataSet.drop('DailyDollarTransactionVolume', axis = 1)

In [8]:
DataSet.describe()

,Transactions,UniqueAdresses,TransactionVolume,BitCoinInCirculation,MarketPrice
count,1546.000,1546.000,1546.000,1546.000,1546.000
mean,75565.382,137424.393,173187.967,9695627.579,263.395
std,90722.379,168296.823,245321.945,5127033.777,392.925
min,0.000,0.000,0.000,50.000,0.000
25%,1869.250,2472.500,49823.500,5409487.500,0.790
50%,46869.500,47559.500,143228.500,10961262.500,73.835
75%,106323.000,224307.500,241245.000,14143631.250,427.947
max,367710.000,687290.000,5313161.000,16402262.500,2883.310

In [9]:
DataSet.corr()

,Transactions,UniqueAdresses,TransactionVolume,BitCoinInCirculation,MarketPrice
Transactions,1.000,0.987,0.294,0.798,0.790
UniqueAdresses,0.987,1.000,0.280,0.801,0.818
TransactionVolume,0.294,0.280,1.000,0.352,0.179
BitCoinInCirculation,0.798,0.801,0.352,1.000,0.650
MarketPrice,0.790,0.818,0.179,0.650,1.000

<h1> mmm, outliers could be removed</h1>
<h3> Transactions vs MarketPrice </h3>

In [ ]:
plt.plot(DataSet.Transactions, DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('Transactions Per DAY')
plt.show()

<h3> UniqueAdresses vs MarketPrice</h3>

In [ ]:
plt.plot(DataSet.UniqueAdresses,DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('UniqueAdresses')
plt.show()

<h3> TransactionVolume vs MarketPrice</h3>

In [ ]:
plt.plot(DataSet.TransactionVolume, DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('TransactionVolume')
plt.show()

<h3> BitCoinInCirculation vs MarketPrice</h3>

In [ ]:
plt.plot(DataSet.BitCoinInCirculation, DataSet.MarketPrice, 'ro')
plt.ylabel('Price (USD)')
plt.xlabel('BitCoinInCirculation')
plt.show()

In [12]:
pre_train = DataSet
train_x = DataSet[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = DataSet['MarketPrice']

In [10]:
train_x = DataSet[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = DataSet['MarketPrice']

lm1 = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
lm1.fit(train_x,train_y)
yhat = pd.DataFrame(lm1.predict(train_x))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

/usr/local/lib/python3.5/site-packages/scipy/linalg/basic.py:884: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

0.68230257076947054

In [ ]:
plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
plt.show()

<h3>7 day forecast</h3>

In [ ]:
train_y_7 = train_y.shift(periods=-7, freq=None, axis=0)
pre_train = pd.concat([train_x,train_y_7], axis = 1).dropna()
train_x = pre_train[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = pre_train['MarketPrice']

lm1 = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
lm1.fit(train_x,train_y)
yhat = pd.DataFrame(lm1.predict(train_x))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
lm1.score(train_x, train_y, sample_weight=None),plt.show()

<h3> 30 day forecast </h3>

In [ ]:
train_y_30 = train_y.shift(periods=-30, freq=None, axis=0)
pre_train = pd.concat([train_x,train_y_30], axis = 1).dropna()
train_x = pre_train[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = pre_train['MarketPrice']

lm1 = linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
lm1.fit(train_x,train_y)
yhat = pd.DataFrame(lm1.predict(train_x))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
lm1.score(train_x, train_y, sample_weight=None),plt.show()

In [ ]:
list_y = []
for i in range(0,len(train_y)-30):
    print(train_y[i],train_y[i+30])

<h3> Same but testing other algorithms</h3>

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( train_x, train_y, test_size=0.20, random_state=42)

In [ ]:
"""
Boosting Tree Regressor - Note Looking at the analysis this doesn't really look healthy to me. 
Besides the fact that it can now predict higher than 1300 dollar

"""


BTR = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,max_depth=6, random_state=0, loss='ls').fit(X_train, y_train)
mean_squared_error(y_test, BTR.predict(X_test)) 
BTR.score(X_train, y_train, sample_weight=None),BTR.score(X_test, y_test, sample_weight=None)

In [ ]:
yhat = pd.DataFrame(BTR.predict(X_train))
yhat.columns = ['yhat']
lm1.score(train_x, train_y, sample_weight=None)

plotter =  pd.concat([train_y, yhat], axis=1)
plotter
plt.plot(plotter.MarketPrice, plotter.yhat, 'ro')
plt.ylabel('Predicted')
plt.xlabel('Actual')
plt.figure(num=None, figsize=(8, 6), dpi=80, facecolor='w', edgecolor='k')
lm1.score(X_test, y_test, sample_weight=None)

<h1> start here </h1>

In [105]:

pre_train = DataSet
train_x = DataSet[['Transactions', 'UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
train_y = DataSet['MarketPrice']

In [106]:
train_y_30 = train_y.shift(periods=-5, freq=None, axis=0)
pre_train = pd.concat([train_x,train_y,train_y_30], axis = 1).dropna()

In [108]:
pre_train.columns = ['Transactions','UniqueAdresses','TransactionVolume','BitCoinInCirculation','y_now','y_30']

In [109]:
pre_train['y'] = 0
#df['hour'] = df.apply(lambda x: find_hour(x['Dates']), axis=1)

In [110]:
len(pre_train)

1541

In [111]:
for i in range(0,len(pre_train)):
    if pre_train['y_30'][i] > pre_train['y_now'][i]:
        print(i)
        #print(pre_train['y_30'][i],pre_train['y_now'][i])
        pre_train['y'][i] = 1

291
292
293

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

294
295
305
317
318
319
320
321
324
325
326
327
328
329
330
331
332
333
334
335
338
339
351
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
390
401
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
432
433
434
435
436
437
438
439
440
441
442
448
449
450
462
463
472
473
475
476
490
493
509
510
511
512
513
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
561
562
569
570
571
572
576
578
579
580
581
587
588
589
590
594
595
596
597
598
599
600
606
607
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
631
632
635
636
637
638
639
640
641
642
643
644
645
648
649
650
651
652
653
654
655
656
663
665
667
668
669
670
671
672
673
674
675
676
677
679
680
681
697
698
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
719
723
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
780
781
782
783
784
790
791
793
794
795
796
797
798
799
800
809
810
812
813
821
822
823
824
825
829
830
831
832
833
834
840
841
842
843
844
845
846
847
848
849
853
854
855
860
861
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
904
905
906
907
908
909
910
911
912
913
916
918
923
924
925
938
939
940
941
942
945
959
960
961
962
963
970
971
973
974
975
977
978
979
980
981
982
983
984
985
986
987
994
997
998
999
1000
1001
1006
1007
1016
1017
1025
1026
1027
1033
1050
1051
1052
1053
1054
1063
1064
1065
1066
1067
1068
1071
1073
1074
1075
1077
1101
1102
1103
1104
1110
1111
1112
1113
1114
1115
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1136
1137
1138
1145
1146
1148
1149
1151
1152
1153
1154
1155
1156
1157
1161
1163
1170
1171
1172
1173
1174
1175
1176
1177
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1193
1194
1195
1196
1211
1212
1213
1214
1215
1216
1217
1222
1223
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1274
1275
1276
1277
1278
1285
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1309
1310
1313
1314
1315
1316
1317
1318
1319
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1336
1337
1338
1339
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1363
1364
1365
1367
1371
1372
1373
1384
1389
1390
1392
1395
1396
1397
1398
1399
1400
1401
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1420
1421
1422
1423
1424
1425
1426
1427
1429
1431
1432
1433
1434
1435
1436
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1498
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536

In [112]:
pre_train.describe()

,Transactions,UniqueAdresses,TransactionVolume,BitCoinInCirculation,y_now,y_30,y
count,1541.000,1541.000,1541.000,1541.000,1541.000,1541.000,1541.000
mean,74963.404,136138.731,172877.582,9673890.518,255.922,264.249,0.460
std,90237.571,167017.140,245648.987,5121096.478,370.902,393.275,0.499
min,0.000,0.000,0.000,50.000,0.000,0.000,0.000
25%,1842.000,2388.000,49554.000,5384450.000,0.790,0.850,0.000
50%,46764.000,46413.000,142755.000,10940875.000,67.850,76.480,0.000
75%,105878.000,222639.000,240583.000,14116950.000,426.060,428.000,1.000
max,367710.000,687290.000,5313161.000,16384087.500,2883.310,2883.310,1.000

In [113]:
pre_train_x = pre_train[['Transactions','UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
pre_train_y = pre_train['y']

In [114]:
pre_train_x.shape,pre_train_y.shape

((1541, 4), (1541,))

In [115]:
X_train, X_test, y_train, y_test = train_test_split( pre_train_x, pre_train_y, test_size=0.20, random_state=42)

In [116]:
from sklearn.ensemble import RandomForestClassifier

In [119]:
I = [5,10,15,20,30,40,50,60,70,80,90,100]
for i in I:
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, y_train)
    print(i,clf.score(X_train, y_train),clf.score(X_test, y_test))

5 0.966720779221 0.744336569579
10 0.982142857143 0.766990291262
15 0.993506493506 0.750809061489
20 0.995941558442 0.783171521036
30 0.999188311688 0.766990291262
40 1.0 0.73786407767
50 1.0 0.754045307443
60 1.0 0.763754045307
70 0.999188311688 0.776699029126
80 1.0 0.766990291262
90 1.0 0.750809061489
100 1.0 0.760517799353

In [120]:

clf = RandomForestClassifier(n_estimators=50)
clf.fit(X_train, y_train)
print(i,clf.score(X_train, y_train),clf.score(X_test, y_test))

100 1.0 0.779935275081

In [121]:
for_scoring = DataSet[['Transactions','UniqueAdresses','TransactionVolume','BitCoinInCirculation']]
Price = DataSet[['MarketPrice']]
Date = DataSet[['Date']]

In [122]:
x = pd.DataFrame(clf.predict_proba(for_scoring)	)

In [123]:
x.columns = ['sell','buy']

In [129]:
simul = pd.concat([Date,Price,x],axis = 1)

In [130]:
simul
simul = simul[simul['Date'] >= '2017-04-01']

In [131]:
simul

           Date  MarketPrice  sell   buy
1505 2017-04-01     1086.920 0.020 0.980
1506 2017-04-03     1141.810 0.040 0.960
1507 2017-04-05     1133.070 0.000 1.000
1508 2017-04-07     1190.450 0.000 1.000
1509 2017-04-09     1208.800 0.000 1.000
1510 2017-04-11     1226.610 0.100 0.900
1511 2017-04-13     1180.020 0.000 1.000
1512 2017-04-15     1184.880 0.080 0.920
1513 2017-04-17     1205.630 0.020 0.980
1514 2017-04-19     1217.930 0.020 0.980
1515 2017-04-21     1258.360 0.000 1.000
1516 2017-04-23     1257.980 0.020 0.980
1517 2017-04-25     1279.410 0.020 0.980
1518 2017-04-27     1345.350 0.120 0.880
1519 2017-04-29     1334.970 0.020 0.980
1520 2017-05-01     1417.170 0.000 1.000
1521 2017-05-03     1507.570 0.000 1.000
1522 2017-05-05     1533.330 0.060 0.940
1523 2017-05-07     1535.860 0.000 1.000
1524 2017-05-09     1721.280 0.020 0.980
1525 2017-05-11     1820.990 0.000 1.000
1526 2017-05-13     1771.920 0.040 0.960
1527 2017-05-15     1723.120 0.040 0.960
1528 2017-05-17     1807.480 0.100 0.900
1529 2017-05-19     1961.520 0.020 0.980
1530 2017-05-21     2046.530 0.040 0.960
1531 2017-05-23     2287.710 0.020 0.980
1532 2017-05-25     2387.200 0.080 0.920
1533 2017-05-27     2014.050 0.080 0.920
1534 2017-05-29     2275.930 0.020 0.980
1535 2017-05-31     2285.930 0.040 0.960
1536 2017-06-02     2446.140 0.180 0.820
1537 2017-06-04     2516.170 0.860 0.140
1538 2017-06-06     2883.310 0.960 0.040
1539 2017-06-08     2792.990 0.920 0.080
1540 2017-06-10     2845.370 0.900 0.100
1541 2017-06-12     2657.670 0.800 0.200
1542 2017-06-14     2447.040 0.860 0.140
1543 2017-06-16     2464.950 0.840 0.160
1544 2017-06-18     2507.380 0.660 0.340
1545 2017-06-20     2754.970 0.860 0.140

In [127]:
hold_init = 1000
hold_coins = 1000/simul.MarketPrice[1170]
final = hold_coins*simul.MarketPrice[1545]
final_strat = 14.31*simul.MarketPrice[1545]

In [128]:
print(final,final_strat)

12387.455036 39423.6207

In [139]:
starter = 1505
iterator = 5
btc_wallet = 0.0
rand_wallet = 1000.0

for index,row in simul.iterrows():
    print(index,starter,row['Date'],round(btc_wallet,2),round(rand_wallet,2), row['MarketPrice'],row['buy'])
    if index == starter:
        if row['buy'] > 0.5 and rand_wallet != 0:
            btc_wallet = rand_wallet/row['MarketPrice']
            rand_wallet = 0
        if row['buy'] < 0.5 and rand_wallet == 0:
            rand_wallet = btc_wallet*row['MarketPrice']
            btc_wallet = 0
            
        starter = starter + iterator

1505 1505 2017-04-01 00:00:00 0.0 1000.0 1086.92 0.98
1506 1510 2017-04-03 00:00:00 0.92 0 1141.81 0.96
1507 1510 2017-04-05 00:00:00 0.92 0 1133.07 1.0
1508 1510 2017-04-07 00:00:00 0.92 0 1190.45 1.0
1509 1510 2017-04-09 00:00:00 0.92 0 1208.8 1.0
1510 1510 2017-04-11 00:00:00 0.92 0 1226.61 0.9
1511 1515 2017-04-13 00:00:00 0.92 0 1180.02 1.0
1512 1515 2017-04-15 00:00:00 0.92 0 1184.88 0.92
1513 1515 2017-04-17 00:00:00 0.92 0 1205.63 0.98
1514 1515 2017-04-19 00:00:00 0.92 0 1217.93 0.98
1515 1515 2017-04-21 00:00:00 0.92 0 1258.36 1.0
1516 1520 2017-04-23 00:00:00 0.92 0 1257.98 0.98
1517 1520 2017-04-25 00:00:00 0.92 0 1279.41 0.98
1518 1520 2017-04-27 00:00:00 0.92 0 1345.35 0.88
1519 1520 2017-04-29 00:00:00 0.92 0 1334.97 0.98
1520 1520 2017-05-01 00:00:00 0.92 0 1417.17 1.0
1521 1525 2017-05-03 00:00:00 0.92 0 1507.57 1.0
1522 1525 2017-05-05 00:00:00 0.92 0 1533.33 0.94
1523 1525 2017-05-07 00:00:00 0.92 0 1535.86 1.0
1524 1525 2017-05-09 00:00:00 0.92 0 1721.28 0.98
1525 1525 2017-05-11 00:00:00 0.92 0 1820.99 1.0
1526 1530 2017-05-13 00:00:00 0.92 0 1771.92 0.96
1527 1530 2017-05-15 00:00:00 0.92 0 1723.12 0.96
1528 1530 2017-05-17 00:00:00 0.92 0 1807.48 0.9
1529 1530 2017-05-19 00:00:00 0.92 0 1961.52 0.98
1530 1530 2017-05-21 00:00:00 0.92 0 2046.53 0.96
1531 1535 2017-05-23 00:00:00 0.92 0 2287.71 0.98
1532 1535 2017-05-25 00:00:00 0.92 0 2387.2 0.92
1533 1535 2017-05-27 00:00:00 0.92 0 2014.05 0.92
1534 1535 2017-05-29 00:00:00 0.92 0 2275.93 0.98
1535 1535 2017-05-31 00:00:00 0.92 0 2285.93 0.96
1536 1540 2017-06-02 00:00:00 0.92 0 2446.14 0.82
1537 1540 2017-06-04 00:00:00 0.92 0 2516.17 0.14
1538 1540 2017-06-06 00:00:00 0.92 0 2883.31 0.04
1539 1540 2017-06-08 00:00:00 0.92 0 2792.99 0.08
1540 1540 2017-06-10 00:00:00 0.92 0 2845.37 0.1
1541 1545 2017-06-12 00:00:00 0 2617.83 2657.67 0.2
1542 1545 2017-06-14 00:00:00 0 2617.83 2447.04 0.14
1543 1545 2017-06-16 00:00:00 0 2617.83 2464.95 0.16
1544 1545 2017-06-18 00:00:00 0 2617.83 2507.38 0.34
1545 1545 2017-06-20 00:00:00 0 2617.83 2754.97 0.14

In [137]:
hold_init = 1000
hold_coins = 1000/simul.MarketPrice[1505]
final = hold_coins*simul.MarketPrice[1545]
final_strat = 14.31*simul.MarketPrice[1545]

78.0

In [138]:
print("new:   :","rand:  ",rand_wallet,"btc(in rand:)  " ,btc_wallet*simul.MarketPrice[1545],"hold:   ", final)

new:   : rand:   2617.8283590328633 btc(in rand:)   0.0 hold:    2534.65756449